.Input {
  display: flex;
  padding: 16px;
  margin: 0;
  background: #F9F9F9;
  border-radius: 2px;
  border-bottom: 1px solid #262626;
  box-sizing: border-box;
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 16px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-family: inherit;
}