.ContactItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  padding: 4px 16px;

  &:hover, &:focus {
    background-color: #F2F2F2;
  }
}

.imgWrapper {
  margin: 0 8px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.img {
  display: block;
}

.info {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.username {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #98999A;
}